<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pag Principal</title>
</head>
<body>

    <h1> Links para a páginas:</h1>

    <br><br>
    <a th:href="@{/empresaCTR/listarTodasEmpresas}">Listar tds empresas / Alterar</a>
    <br><br>
    <a th:href="@{/funcionarioCTR/listarFunc}">Listar tds os funcionarios</a>
    <br><br>
    <a th:href="@{/empresaCTR/viewCadEmpresa}">Cadastrar Empresa</a>
    <br><br>
    <a th:href="@{/empresaCTR/formBuscarNome}">Listar empresa por nome</a>
    <br><br>
    <a th:href="@{/funcionarioCTR/formFuncionario}">cadastrar funcionario</a>

</body>
</html>